doctype 5
html
  head
    title= "COCKPIT"
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='http://cdn.pubnub.com/pubnub-3.4.2.min.js')
  body
    | cockpit

    script(type='text/javascript', src='/javascripts/cockpit.js')
