doctype 5
html
  head
    title= "REMOTE"
    script(type='text/javascript', src='/javascripts/pubnub-3.3.js')
  body
    | remote
    // Send to pubnub like this: https://github.com/pubnub/pubnub-api/tree/master/javascript-modern/3.3